/sprites/
/audio/
/config/*
!/config/mod-config.js
!/config/config.js
!/config/testclient-key.js
/data/pokemon-showdown/
/index.html
/preactalpha.html
/crossprotocol.html
node_modules/
eslint-cache/
.DS_Store
Thumbs.db
npm-debug.log
package-lock.json
/vendor/

/replays/caches/
/replays/replay-config.inc.php
/replays/theme/wrapper.inc.php

/website/.well-known/
/website/.pages-cached/
/website/files/
/website/images/
